{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block visual_heading %}


{% endblock %}

{% block main_content %}
    <section class="col-md-9 main_content">

        <h2>BMI Calculator</h2>

        <section class="col-md-4 heart">
            <img src="{{ asset('bundles/healthhealthuser/images/solid-heart-plus.png') }}" alt="weights" />
        </section>

        <section class="col-md-4 heart">
        <img src="{{ asset('bundles/healthhealthuser/images/line-heart.png') }}" alt="weights" />
    </section>

        <section class="col-md-4 heart">
            <img src="{{ asset('bundles/healthhealthuser/images/solid-heart-minus.png') }}" alt="weights" />
        </section>


    <section class="heart">
     <form>
         <label>Weight (lbs):</label>
         <input type="text" id="weight">

         <label>Height (inches)</label>
         <input type="text" id="height">

         <input type="button" id="submit" onclick="calcBMI();" class="btn" value="calculate" />

     </form>


        <section>
            <p id="bmiResults"></p>
            <p id="results"></p>
        </section>

        <p id="bmiResults"></p>

        <form>
            <label>Age:</label>
            <input type="text" id="age">

            <input type="button" id="submit" onclick="calcBPM();" value="calculate" class="btn" />

        </form>

        <section>
            <p id="ageResults"></p>
        </section>

        <input type="button" class="btn allBtn" value="Back" onclick="goBack();" />

        </section>
    </section><!--end of container-->

    {% block javascripts  %}
        <script src="{{ asset('bundles/healthlifestyle/js/jquery-1.11.1.js') }}"></script>
        <script src="{{ asset('bundles/healthlifestyle/js/cheat.js') }}"></script>
    {% endblock %}

    <script>

        function goBack() {history.back();}

    </script>

{% endblock %}