{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block head %}

    {% block stylesheets %}
        {% stylesheets '@healthLifestyleBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        {% endstylesheets %}
    {% endblock %}

    {% endblock %}

{% block visual_heading %}


{% endblock %}

{% block main_content %}

    <section class="col-md-9 main_content">

        <section id="health-slider" class="liquid-slider">
            <section class="content-slider">

                {% for lifeS in life %}
                <h2 class="title">{{ lifeS.contentTitle }}</h2>
                    <p> {{ lifeS.content }}</p>

                {% endfor %}</section>
            <section>

                {% for snackS in snack %}
                <h2 class="title">{{ snackS.contentTitle }}</h2>
                    <p> {{ snackS.content }}</p>

                {% endfor %}</section>
            <section>

                {% for lunchS in lunch %}
                <h2 class="title">{{ lunchS.contentTitle }}</h2>
                    <p> {{ lunchS.content }}</p>

                {% endfor %}
            </section>
            <section>

                {% for dinnerS in dinner %}
                <h2 class="title">{{ dinnerS.contentTitle }}</h2>
                    <p> {{ dinnerS.content }}</p>

                {% endfor %}
            </section>
        </section>


        <input type="button" class="btn allBtn" value="Back" onclick="goBack();" />

    </section><!--end of main content-->
    {% block javascripts  %}
        <script src="{{ asset('bundles/healthlifestyle/js/jquery-1.11.1.js') }}"></script>
        <script src="{{ asset('bundles/healthlifestyle/js/jquery.liquid-slider.js') }}"></script>
        <script src="{{ asset('bundles/healthlifestyle/js/jquery.touchSwipe.js') }}"></script>
    {% endblock %}
   <script>
        $(function(){
            $('#health-slider').liquidSlider();
        });
        function goBack() {history.back();}

    </script>



{% endblock %}

