{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block head %}
{%block stylesheets %}

{% stylesheets '@healthuserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        {% endstylesheets %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
{%endblock%}
{%endblock%}
{% block visual_heading %}


{% endblock %}

{% block main_content %}

    <section class="col-md-9 main_content">
<div class="container">

        <form class="form-signin" method ="POST" action="{{path('Login_login')}}" data-validate="parsley">
            <h2 class="form-signin-heading">LogIn</h2>
            <input type="text" id="username" class="input-block-level" name="username" placeholder="Username" data-trigger="change" data-required="true">
            <input type="password" id="password" class="input-block-level" name="password" placeholder="Password" data-trigger="change" data-required="true">
            <br />
            <label class="checkbox" name="remember" value="remember-me">Remember me</label>
            <button class="btn btn-large btn-primary" type="submit">Login</button><br />
            <a href ="{{path('register_register')}}">Sign Up</a>
            <a href ="{{path('Recover_recover')}}">Recover Password</a>
           
        </form>

    </div> 
    
    {% if name is defined%}
    <div class="alert-info fade in">
        <strong>{{name}}</strong>
    </div>
    {%endif%}  
    </section>
{% endblock %}

