{%  extends 'healthuserBundle::layout.html.twig' %}

{% block head %}
{%block stylesheets %}

{% stylesheets '@healthuserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        {% endstylesheets %}
<style type="text/css">

        .form-signin {
            max-width: 600px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
{%endblock%}
{%endblock%}
{% block visual_heading %}


{% endblock %}

{% block main_content %}

    <section class="col-md-9 main_content">
<div class="container">

       <h2>Hello {{name}}</h2>
    </div>

        <section>
            Hello Welcome your Healthy Lifestyle Portal!

            <p>
                elly beans marshmallow macaroon cake gingerbread bonbon dragée. Ice cream chocolate bar macaroon chocolate jelly-o biscuit. Marzipan chocolate bar danish. Dragée toffee biscuit donut jujubes. Sugar plum dragée candy canes cotton candy donut pastry ice cream. Cotton candy cookie chocolate cake marzipan bear claw pie cheesecake sweet roll macaroon. Topping sesame snaps caramels. Tart sugar plum jelly icing tiramisu powder. Cake sugar plum gingerbread cake icing cookie tart unerdwear.com. Jujubes biscuit lemon drops caramels dragée croissant topping. Gummies liquorice cookie gummi bears ice cream chupa chups topping. Chupa chups sesame snaps carrot cake chocolate cake candy ice cream icing croissant pie. Croissant macaroon donut apple pie toffee pudding candy bear claw macaroon. Chocolate bar brownie ice cream
            </p>
        </section>
    
    </section>
    {% block sideBar %}
        <section style="display:none;">

        </section>
        {% endblock %}
{% endblock %}

