 {% block head %}
 <!DOCTYPE html>
 <html>
 <head>
    {% block stylesheets %}
        {% stylesheets '@healthhealthUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
        <link href="{{ asset_url }}"  rel="stylesheet" >
        {% endstylesheets %}
    {% endblock %}
</head>
{% endblock %}

{# this is a comment#}


    {% block header %}
        <header>
            <h1 id="logo">The Healthy Lifestyle</h1>

            <nav class="top_nav">
                <ul>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/">Home</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/lifestyle">Lifestyle</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/exercise">Fitness</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/detox">Detox</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/forum">Forum</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/chat">Chatroom</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/resource">Resources</a></li>
                    <li><a href="/HealthApp/Symfony/web/app_dev.php/login">Login</a></li>
                </ul>
            </nav>

        </header>
    {% endblock %}

 {% block visual_heading %}

 {% endblock %}


{% block main_content %}
    <section class="row">



    </section>

{% endblock %}


{% block sideBar %}
 <section class="row">
    <aside class="col-md-3" id="page_side">

        <aside class="sidebar">
            <a href="/HealthApp/Symfony/web/app_dev.php/contest"><img src="{{ asset('bundles/healthhealthuser/images/sideIMG1.png') }}" alt="contest" /></a>

            <a href="/HealthApp/Symfony/web/app_dev.php/contest"><h3>Monthly Contest</h3>
            <p>Have a health or fitness goal? Want to be features as the Healthy lifestyle Ambasador for the month?
                Come enter our contest.
            </p>
                </a>
        </aside>

        <aside class=" sidebar">
            <a href="/HealthApp/Symfony/web/app_dev.php/upperbody"><img src="{{ asset('bundles/healthhealthuser/images/sideIMG2.png') }}" alt="weights" /></a>
                <h3>Sexy Arms</h3>
            <p>Check out this upper body workout to get lean, toned sexy arms for the summer. </p></a>
        </aside>

        <aside class=" sidebar">
            <a href="/HealthApp/Symfony/web/app_dev.php/recipes">
                <img src="{{ asset('bundles/healthhealthuser/images/sideIMG3.png') }}" alt="recipes" /></a>
            <h3>Healthy Recipes</h3>
            <p>Check out our healthy delicious recipes that will not compromise your goals or your taste buds</p>
                </a>
        </aside>

    </aside>
 </section>
{% endblock %}

 <footer class="row">

     <section class="col-sm-2 foot_nav">
         <ul>
             <li><a href="#">home</a></li>
             <li><a href="#">lifestyle</a></li>
             <li><a href="#">recipes</a></li>
             <li><a href="#">detox</a></li>
         </ul>
     </section>

     <section class="col-sm-2 foot_nav">
         <ul>
             <li><a href="#">Fitness</a></li>
             <li><a href="#">upper body</a></li>
             <li><a href="#">midsection</a></li>
             <li><a href="#">lower body</a></li>
         </ul>
     </section>

     <section class="col-sm-2 foot_nav">
         <ul>
             <li><a href="#">forum</a></li>
             <li><a href="#">chatroom</a></li>
             <li><a href="#">login</a></li>
             <li><a href="#">register</a></li>
         </ul>
     </section>

     <section class="col-sm-2 foot_nav">
         <ul>
             <li><a href="#">sitemap</a></li>
             <li><a href="#">privacy</a></li>
             <li><a href="#">copyright</a></li>

         </ul>
     </section>


     <section class="col-sm-4">
         <form id="subscribe" method="post" action="">
             <h3>Subscribe</h3>
             <label for="name">Name: </label>
             <input type="text" name="name" class="form-control fields">
             <label for="email">Email:</label>
             <input type="text" name="email" class="form-control fields">

             <input type="submit" name="sub" class="btn" id="submitBut" value="subscribe">
         </form>
     </section>

 </footer>

</html>